.chat-container {
  width: 100vw;
  height: 100vh;
  padding: 100 0;
}

.app-name {
  height: 10vh;
  background-color: limegreen;
}

.display-online-members {
  height: 70vh;
  border-right: 1px solid grey;
}

.online {
  max-height: 40vh;
  overflow-y: scroll;
}

.display-msg-app {
  height: 70vh;
}

.actual-mgs {
  height: 60vh;
  padding-right: 15px;
  overflow-y: scroll;
}

.prompt-container {
  height: 12vh;
}
