.form-container {
  width: 100wh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 300px;
  padding: 25px;
  background-color: rgb(58, 67, 190);
  border-radius: 10px;
}

.login-btn {
  display: block;
  width: 100%;
  background-color: crimson;
}
